# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/key.properties

# iOS
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Runner/GeneratedPluginRegistrant.*
**/Pods/

# IDE
.idea/
*.log
.vscode/settings.json

# macOS
.DS_Store

# 환경변수 (API 키)
.env
lib/config/secrets.dart
